In [1]:
import pandas as pd
import numpy as np

data= pd.read_csv('health_data(1).csv')
data

,srcStateName,srcDistrictName,srcYear,Women registered for Ante Natal Care( ANC ),Women registered for Ante Natal Care ( ANC ) within first trimester,Registrations for Ante Natal Care ( ANC ) in the first trimester (to total ANC registrations) (%),Women received 4 or more ( ANC ) check-ups,Women received the second dose of tetanus-toxoid vaccine ( TT2 ),Women received the dose of tetanus-toxoid vaccine ( TT ),Pregnant women received 4 Ante Natal Care ( ANC ) check ups (to total ANC registrations) (%),...,Infant deaths reported,Deaths due to Sepsis (to total reported infant deaths) (%),Deaths due to Asphyxia (to total reported infant deaths) (%),Deaths due to Pneumonia (to total reported infant deaths ) (%),Deaths due to Diarrhea (to total reported infant deaths ) (%),Deaths due to Fever to total reported infant deaths (%),Deaths due to Measles ( to total reported infant deaths ) (%),Institutional deliveries at urban health facilities,YearCode,year
0,Jammu & Kashmir,Badgam,2017-18,12592,12104,96.1,9707,11465,1366,77.1,...,21.0,4.8,19.0,0.0,0.0,0.0,0.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
1,Himachal Pradesh,Lahul Spiti,2017-18,321,219,68.2,92,118,90,28.7,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017,"Financial Year (Apr - Mar), 2017"
2,Meghalaya,East Jaintia Hills,2017-18,4627,1501,32.4,1235,2050,1645,26.7,...,70.0,2.9,1.4,2.9,4.3,8.6,0.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
3,Sikkim,North,2017-18,569,507,89.1,474,450,90,83.3,...,8.0,0.0,0.0,25.0,0.0,0.0,0.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
4,Uttar Pradesh,Shrawasti,2017-18,49033,18849,38.4,19915,31524,8678,40.6,...,65.0,16.9,13.8,0.0,0.0,24.6,0.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107,West Bengal,Purba Barddhaman,2019-20,73236,69464,94.8,60214,67606,1438,82.2,...,1838.0,11.8,11.0,14.1,0.0,0.4,0.0,32980.0,2019,"Financial Year (Apr - Mar), 2019"
2108,West Bengal,Purba Medinipur,2019-20,85417,81842,95.8,70543,76749,3546,82.6,...,666.0,5.7,15.3,3.5,0.0,1.1,0.0,44753.0,2019,"Financial Year (Apr - Mar), 2019"
2109,West Bengal,Puruliya,2019-20,58700,55651,94.8,52001,41208,12617,88.6,...,871.0,8.8,9.1,4.2,0.1,0.6,0.0,5796.0,2019,"Financial Year (Apr - Mar), 2019"
2110,West Bengal,South Twenty Four Parganas,2019-20,153920,143871,93.5,129811,132637,11259,84.3,...,999.0,9.5,11.3,2.9,0.0,0.3,0.0,52426.0,2019,"Financial Year (Apr - Mar), 2019"
2111,West Bengal,Uttar Dinajpur,2019-20,74640,67250,90.1,61664,53783,17392,82.6,...,1018.0,7.7,23.2,2.4,0.1,0.1,0.0,23999.0,2019,"Financial Year (Apr - Mar), 2019"

In [2]:
#Renaming the columns
column_name_mapping = {
    'srcStateName': 'State',
    'srcDistrictName': 'District',
    'srcYear': 'srcYear',
    'Women registered for Ante Natal Care( ANC )': 'Women_ANC_Reg',
    'Women registered for Ante Natal Care ( ANC ) within first trimester': 'Women_ANC_Reg_1st_Tri',
    'Women received 4 or more ( ANC ) check-ups': 'Women_ANC_4_Checkups',
    'Women received the second dose of tetanus-toxoid vaccine ( TT2 )': 'Women_TT2_Dose',
    'Women received the dose of tetanus-toxoid vaccine ( TT )': 'Women_TT_Dose',
    'Pregnant women received 180 Iron and Folic Acid tablets': 'Pregnant_Women_180_IFA_Tablets',
    'Women having tested moderately anemic with Hemoglobin ( Hb )<11': 'Women_Moderately_Anemic_Hb<11',
    'Women having tested with severe anemia with Hemoglobin ( Hb ) and are being treated at an institution': 'Women_Severely_Anemic_Treated_Hb<11',
    'Home deliveries': 'Home_Deliveries',
    'Home deliveries attended by doctor or nurse or Auxiliary Nurse Midwife ( ANM ) trained as ( SBA )': 'Home_Deliveries_Attended_SBA',
    'Home deliveries attended by Traditional Birth Attendants ( TBA ) or Dai non-trained as Skill Birth Attendants ( SBA )': 'Home_Deliveries_Attended_TBA/Dai',
    'Deliveries conducted at public institutions': 'Deliveries_Public_Institutions',
    'Women discharged under 48 hours of delivery in public facilities': 'Women_Discharged_Under_48hrs_Public_Facilities',
    'Deliveries conducted at private institutions': 'Deliveries_Private_Institutions',
    'Women discharged under 48 hours of delivery in private facilities': 'Women_Discharged_Under_48hrs_Private_Facilities',
    'Institutional deliveries includes both public and private institutions': 'Institutional_Deliveries_Total',
    'Total reported deliveries': 'Total_Reported_Deliveries',
    'Caesarean ( C-Section ) deliveries conducted at Public facilities': 'C-Section_Deliveries_Public_Facilities',
    'Caesarean ( C-Section ) deliveries conducted at Private facilities': 'C-Section_Deliveries_Private_Facilities',
    'Women received first post partum check up within 48 hours of delivery': 'Women_1st_Postpartum_Checkup_<48hrs',
    'Women received first postpartum checkup between 48 hours to 14 days of delivery': 'Women_1st_Postpartum_Checkup_48hrs_to_14_days',
    'Reported live births': 'Reported_Live_Births',
    'Reported still births': 'Reported_Still_Births',
    'Newborns weighed at birth': 'Newborns_Weighed_at_Birth',
    'Newborns having weight less than 25 kg': 'Newborns_Weight_Less_than_25kg',
    'New borns breastfed within 1 hour': 'Newborns_Breastfed_within_1hr',
    'Sex ratio at birth': 'Sex_Ratio_at_Birth',  
    'Pregnant women given 360 calcium tablets': 'Pregnant_Women_360_Calcium_Tablets',
    'Pregnant women given one Albendazole tablet after first trimester': 'Pregnant_Women_One_Albendazole_Tablet_After_1st_Trimester',
    'Pregnant women tested for blood sugar using Oral Glucose Tolerance Test ( OGTT )': 'Pregnant_Women_Tested_for_Blood_Sugar_using_OGTT',
    'Pregnant women tested positive for Gestational Diabetes Mellitus': 'Pregnant_Women_Tested_Positive_for_Gestational_Diabetes_Mellitus',
    'Pregnant women tested for Syphilis': 'Pregnant_Women_Tested_for_Syphilis',
    'Pregnant women tested for Syphilis and were found sero positive': 'Pregnant_Women_Tested_for_Syphilis_Positive',
    'Maternal deaths': 'Maternal_Deaths',
    'Facility based maternal death reviews done': 'Facility_Based_Maternal_Death_Reviews_Done',
    'Abortions reported': 'Abortions_Reported',
    'Medical Termination of Pregnancies ( MTPs ) at public institutions': 'MTPs_Public_Institutions',
    'Vasectomies conducted in Public and Private institutions': 'Vasectomies_Total',
    'Tubectomies conducted in Public and Private institutions': 'Tubectomies_Total',
    'Sterilisation conducted': 'Sterilisation_Total',
    'Sterilisation conducted at Primary Health Centres': 'Sterilisation_Primary_Health_Centres',
    'Sterilisation conducted at Community Health Centres': 'Sterilisation_Community_Health_Centres',
    'Sterilisations conducted at Sub-District Hospital ( SDH )': 'Sterilisations_Sub-District_Hospital',
    'Sterilisations conducted at District Hospital ( DH )': 'Sterilisations_District_Hospital',
    'Sterilisation conducted at private institutions': 'Sterilisation_Private_Institutions',
    'Sterilisation conducted at public institutions': 'Sterilisation_Public_Institutions',
    'Death cases of male following male sterilisation': 'Death_Cases_Male_Following_Male_Sterilisation',
    'Death cases of female following female sterilisation': 'Death_Cases_Female_Following_Female_Sterilisation',
    'Cases of failure following male sterilisations': 'Cases_of_Failure_Male_Sterilisations',
    'Cases of failure following female sterilisations': 'Cases_of_Failure_Female_Sterilisations',
    'Cases of complication following male sterilisations': 'Cases_of_Complication_Male_Sterilisations',
    'Cases of complication following female sterilisations': 'Cases_of_Complication_Female_Sterilisations',
    'Intrauterine Contraceptive Device insertions done at public facilities': 'IUCD_Insertions_Public_Facilities',
    'Intrauterine Contraceptive Device insertions done at private facilities': 'IUCD_Insertions_Private_Facilities',
    'Interval Intrauterine Contraceptive Device insertions done': 'Interval_IUCD_Insertions',
    'Post Partum Intrauterine Contraceptive Device insertions done': 'PP_IUCD_Insertions_Done',
    'Post Abortion Intrauterine Contraceptive Device insertions done': 'Post_Abortion_IUCD_Insertions_Done',
    'Combined oral pills distributed': 'Oral_Pills_Distributed',
    'Emergency pills distributed': 'Emergency_Pills_Distributed',
    'Condom pieces distributed': 'Condoms_Distributed',
    'Number of Centchroman (weekly pills) distributed': 'Centchroman_Distributed',
    'Beneficiaries given 1st dose of Injectable contraceptive': 'Beneficiaries_1st_Dose_Injectable_Contraceptive',
    'Beneficiaries given 2nd dose of Injectable contraceptive': 'Beneficiaries_2nd_Dose_Injectable_Contraceptive',
    'Beneficiaries given 3rd dose of Injectable contraceptive': 'Beneficiaries_3rd_Dose_Injectable_Contraceptive',
    'Beneficiaries given 4th dose or more than 4 doses of Injectable contraceptive': 'Beneficiaries_4th_Dose_Injectable_Contraceptive',
    'Pregnancy testing kits used': 'Pregnancy_Testing_Kits_Used',
    'Infants given Oral Polio Vaccine': 'Infants_Oral_Polio_Vaccine',
    'Infants given Bacillus Calmette Guerin ( BCG ) vaccine': 'Infants_BCG_Vaccine',
    'Infants given Hepatitis (Birth Dose)': 'Infants_Hepatitis_Birth_Dose',
    'Number of infants given Diphtheria, Pertussis (whooping cough), and Tetanus ( DPT ) 1 vaccine': 'Infants_DPT1_Vaccine',
    'Infants given Diphtheria, Pertussis (whooping cough), and Tetanus ( DPT ) 2 vaccine': 'Infants_DPT2_Vaccine',
    'Infants given Diphtheria, Pertussis (whooping cough), and Tetanus ( DPT ) 3 vaccine': 'Infants_DPT3_Vaccine',
    'Infants given Pentavalent 1 vaccine': 'Infants_Pentavalent1_Vaccine',
    'Infants given Pentavalent 2 vaccine': 'Infants_Pentavalent2_Vaccine',
    'Infants given Pentavalent 3 vaccine': 'Infants_Pentavalent3_Vaccine',
    'Infants given measles immunisation': 'Infants_Measles_Immunisation',
    'Infants given Japanese Encephalitis ( JE ) vaccine': 'Infants_JE_Vaccine',
    'Infants given Mumps and Rubella ( MR ) vaccine': 'Infants_Mumps_Rubella_Vaccine',
    'Infants given Oral Polio Vaccine 0 ( OPV 0) at birth': 'Infants_OPV0_at_Birth',
    'Number of pregnant women given 2 Tetanus Toxoid ( TT ) injections during pregnancy': 'Pregnant_Women_2_TT_Injections',
    'Number of pregnant women given 3 Tetanus Toxoid ( TT ) injections during pregnancy': 'Pregnant_Women_3_TT_Injections',
    'Number of pregnant women given 4 or more Tetanus Toxoid ( TT ) injections during pregnancy': 'Pregnant_Women_4+_TT_Injections',
    'Newborns given BCG and OPV 0 dose at birth': 'Newborns_BCG_OPV0_at_Birth',
    'Number of women who have been given at least one IFA tablet': 'Women_1+_IFA_Tablets',
    'Number of cases of Severe Acute Malnutrition ( SAM ) treated': 'SAM_Cases_Treated',
    'Number of cases of Moderate Acute Malnutrition ( MAM ) treated': 'MAM_Cases_Treated',
    'Number of Severe Acute Malnutrition ( SAM ) deaths': 'SAM_Deaths',
    'Number of Moderate Acute Malnutrition ( MAM ) deaths': 'MAM_Deaths',
    'Children given Vitamin A dose': 'Children_Vitamin_A_Dose',
    'Children given Vitamin A doses 6 months to 59 months': 'Children_6_to_59_Months_Vitamin_A_Doses',
    'Severe Acute Respiratory Infections ( SARI ) cases treated': 'SARI_Cases_Treated',
    'Severe Acute Respiratory Infections ( SARI ) cases treated in public facilities': 'SARI_Cases_Treated_Public_Facilities',
    'Severe Acute Respiratory Infections ( SARI ) cases treated in private facilities': 'SARI_Cases_Treated_Private_Facilities',
    'Deaths due to Severe Acute Respiratory Infections ( SARI )': 'SARI_Deaths',
    'Severe Acute Respiratory Infections ( SARI ) cases treated (to total SARI cases)': 'SARI_Cases_Treated_to_Total_SARI_Cases',
    'Severe Acute Respiratory Infections ( SARI ) cases treated in public facilities (to total SARI cases)': 'SARI_Cases_Treated_Public_Facilities_to_Total_SARI_Cases',
    'Severe Acute Respiratory Infections ( SARI ) cases treated in private facilities (to total SARI cases)': 'SARI_Cases_Treated_Private_Facilities_to_Total_SARI_Cases',
    'Deaths due to Severe Acute Respiratory Infections ( SARI ) (to total deaths due to SARI)': 'SARI_Deaths_to_Total_SARI_Deaths',
}
df = data.rename(columns=column_name_mapping)

In [3]:
df = df.filter(regex='^(?!.*%)')

In [4]:
# Display the columns of the dataset
columns = df.columns
print("Columns of the dataset:")
for column in columns:
    print(column)

Columns of the dataset:
State
District
srcYear
Women_ANC_Reg
Women_ANC_Reg_1st_Tri
Women_ANC_4_Checkups
Women_TT2_Dose
Women_TT_Dose
Pregnant_Women_180_IFA_Tablets
Women_Moderately_Anemic_Hb<11
Women_Severely_Anemic_Treated_Hb<11
Home_Deliveries
Home_Deliveries_Attended_SBA
Home_Deliveries_Attended_TBA/Dai
Deliveries_Public_Institutions
Women_Discharged_Under_48hrs_Public_Facilities
Deliveries_Private_Institutions
Women_Discharged_Under_48hrs_Private_Facilities
Institutional_Deliveries_Total
Total_Reported_Deliveries
C-Section_Deliveries_Public_Facilities
C-Section_Deliveries_Private_Facilities
Women_1st_Postpartum_Checkup_<48hrs
Women_1st_Postpartum_Checkup_48hrs_to_14_days
Reported_Live_Births
Reported_Still_Births
Newborns_Weighed_at_Birth
Newborns_Weight_Less_than_25kg
Newborns_Breastfed_within_1hr
Sex_Ratio_at_Birth
Pregnant_Women_360_Calcium_Tablets
Pregnant_Women_One_Albendazole_Tablet_After_1st_Trimester
Pregnant_Women_Tested_for_Blood_Sugar_using_OGTT
Pregnant_Women_Tested_Positive_for_Gestational_Diabetes_Mellitus
Pregnant_Women_Tested_for_Syphilis
Pregnant_Women_Tested_for_Syphilis_Positive
Maternal_Deaths
Facility_Based_Maternal_Death_Reviews_Done
Abortions_Reported
MTPs_Public_Institutions
Vasectomies_Total
Tubectomies_Total
Sterilisation_Total
Sterilisation_Private_Institutions
Sterilisation_Public_Institutions
Death cases following sterilisation
Death_Cases_Male_Following_Male_Sterilisation
Death_Cases_Female_Following_Female_Sterilisation
Cases_of_Failure_Male_Sterilisations
Cases_of_Failure_Female_Sterilisations
Cases_of_Complication_Male_Sterilisations
Cases_of_Complication_Female_Sterilisations
IUCD_Insertions_Public_Facilities
IUCD_Insertions_Private_Facilities
Interval_IUCD_Insertions
PP_IUCD_Insertions_Done
Post_Abortion_IUCD_Insertions_Done
Oral_Pills_Distributed
Emergency_Pills_Distributed
Condoms_Distributed
Centchroman_Distributed
Beneficiaries_1st_Dose_Injectable_Contraceptive
Beneficiaries_2nd_Dose_Injectable_Contraceptive
Beneficiaries_3rd_Dose_Injectable_Contraceptive
Beneficiaries_4th_Dose_Injectable_Contraceptive
Pregnancy_Testing_Kits_Used
Infants_Oral_Polio_Vaccine
Infants_BCG_Vaccine
Infants_Hepatitis_Birth_Dose
Infants_DPT1_Vaccine
Infants_DPT2_Vaccine
Infants_DPT3_Vaccine
Infants_Pentavalent1_Vaccine
Infants_Pentavalent2_Vaccine
Infants_Pentavalent3_Vaccine
Infants_Measles_Immunisation
Infants given Measles Rubella immunisation
Number of fully immunized children in the age group of 9 to 11 months
Abcess cases due to Adverse Events Following Immunization ( AEFI )
Deaths due to Adverse Events Following Immunization ( AEFI )
Cases of other complications due to Adverse Events Following Immunization (AEFI)
Children under 5 years of age suffered from Pneumonia
Children under 5 years of age suffered from Asthma
Children under 5 years of age suffered from Sepsis
Children under 5 years of age suffered from Diphtheria
Children under 5 years of age suffered from Pertussis
Children under 5 years of age suffered from Tetanus Neonatorum
Children under 5 years of age suffered from Tuberculosis ( TB )
Children under 5 years of age suffered from Acute Flaccid Paralysis ( AFP )
Children under 5 years of age suffered from Measles
Children under 5 years of age suffered from Malaria
Children under 5 years of age suffered from Diarrhea
Children under 5 years of age treated for Diarrhea in In-Patient Department
Infants received the 1st dose of Measles Rubella Vaccine
Infants received the 1st dose of Rotavirus Vaccine
Infants received the 2nd dose of Rotavirus Vaccine
Infants received the 3rd dose of Rotavirus Vaccine
Children age group 16 to 24 months given the 2nd dose of Measles
Children age group 16 to 24 months given the 2nd dose of Measles Rubella Vaccine
Patients in In-patients Department ( IPD )
Patients in Out-Patients Department given Allopathic treatment
Patients in Out-Patients Department given Ayurveda, Yoga and Naturopathy, Unani, Siddha, and Homoeopathy ( Ayush ) treatment
Patients in Out-Patients Department given Ayurveda, Yoga and Naturopathy, Unani, Siddha, and Homoeopathy ( Ayush ) and Allopathic treatment
Major operations conducted
Minor operations conducted
Hysterectomy surgeries performed
Dental procedure conducted patients in Out-Patient Department ( OPD )
Infant deaths reported
Institutional deliveries at urban health facilities
YearCode
year

In [5]:
df.head()

,State,District,srcYear,Women_ANC_Reg,Women_ANC_Reg_1st_Tri,Women_ANC_4_Checkups,Women_TT2_Dose,Women_TT_Dose,Pregnant_Women_180_IFA_Tablets,Women_Moderately_Anemic_Hb<11,...,"Patients in Out-Patients Department given Ayurveda, Yoga and Naturopathy, Unani, Siddha, and Homoeopathy ( Ayush ) treatment","Patients in Out-Patients Department given Ayurveda, Yoga and Naturopathy, Unani, Siddha, and Homoeopathy ( Ayush ) and Allopathic treatment",Major operations conducted,Minor operations conducted,Hysterectomy surgeries performed,Dental procedure conducted patients in Out-Patient Department ( OPD ),Infant deaths reported,Institutional deliveries at urban health facilities,YearCode,year
0,Jammu & Kashmir,Badgam,2017-18,12592,12104,9707,11465,1366,10347,6402,...,134873,1858557,4444.0,28880.0,722.0,124353,21.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
1,Himachal Pradesh,Lahul Spiti,2017-18,321,219,92,118,90,148,89,...,0,111328,0.0,135.0,0.0,1744,0.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
2,Meghalaya,East Jaintia Hills,2017-18,4627,1501,1235,2050,1645,1624,3559,...,17557,153372,0.0,1972.0,0.0,2171,70.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
3,Sikkim,North,2017-18,569,507,474,450,90,477,72,...,865,58671,0.0,818.0,0.0,2468,8.0,NaN,2017,"Financial Year (Apr - Mar), 2017"
4,Uttar Pradesh,Shrawasti,2017-18,49033,18849,19915,31524,8678,29943,20597,...,195584,832895,153.0,363.0,3.0,8029,65.0,NaN,2017,"Financial Year (Apr - Mar), 2017"

In [6]:
import pandas as pd

# Assuming your DataFrame is named df
# Create a new DataFrame with required columns and renamed column
model_df = df[['YearCode', 'Maternal_Deaths', 'Infant deaths reported','State']]
# Save the DataFrame to a CSV file
model_df.to_csv('model.csv', index=False)

In [7]:
df1= pd.read_csv('model.csv')

In [8]:
df1

      YearCode  Maternal_Deaths  Infant deaths reported             State
0         2017              1.0                    21.0   Jammu & Kashmir
1         2017              0.0                     0.0  Himachal Pradesh
2         2017              4.0                    70.0         Meghalaya
3         2017              0.0                     8.0            Sikkim
4         2017             29.0                    65.0     Uttar Pradesh
...        ...              ...                     ...               ...
2107      2019             56.0                  1838.0       West Bengal
2108      2019             28.0                   666.0       West Bengal
2109      2019             24.0                   871.0       West Bengal
2110      2019             58.0                   999.0       West Bengal
2111      2019             45.0                  1018.0       West Bengal

[2112 rows x 4 columns]

In [9]:
df1.rename(columns={'Infant deaths reported': 'Infant_Deaths_Reported'}, inplace=True)
df1

      YearCode  Maternal_Deaths  Infant_Deaths_Reported             State
0         2017              1.0                    21.0   Jammu & Kashmir
1         2017              0.0                     0.0  Himachal Pradesh
2         2017              4.0                    70.0         Meghalaya
3         2017              0.0                     8.0            Sikkim
4         2017             29.0                    65.0     Uttar Pradesh
...        ...              ...                     ...               ...
2107      2019             56.0                  1838.0       West Bengal
2108      2019             28.0                   666.0       West Bengal
2109      2019             24.0                   871.0       West Bengal
2110      2019             58.0                   999.0       West Bengal
2111      2019             45.0                  1018.0       West Bengal

[2112 rows x 4 columns]

In [10]:
df1['State'].unique()

array(['Jammu & Kashmir', 'Himachal Pradesh', 'Meghalaya', 'Sikkim',
       'Uttar Pradesh', 'Arunachal Pradesh', 'Bihar', 'Nagaland',
       'West Bengal', 'Andhra Pradesh', 'A & N Islands', 'Assam',
       'Mizoram', 'Chhattisgarh', 'Chandigarh', 'Dadra & Nagar Haveli',
       'Daman & Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Jharkhand',
       'Madhya Pradesh', 'Karnataka', 'Manipur', 'Kerala', 'Lakshadweep',
       'Maharashtra', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Tripura', 'Telangana', 'Tamil Nadu', 'Uttarakhand'], dtype=object)

In [11]:
import tkinter as tk
from tkinter import ttk
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.backends.backend_tkagg import FigureCanvasTkAgg
from statsmodels.tsa.arima.model import ARIMA

# Load your dataset
df = pd.read_csv("model.csv")

# List of specific state names
specific_states = [
    'Jammu & Kashmir', 'Himachal Pradesh', 'Meghalaya', 'Sikkim', 'Uttar Pradesh',
    'Arunachal Pradesh', 'Bihar', 'Nagaland', 'West Bengal', 'Andhra Pradesh',
    'A & N Islands', 'Assam', 'Mizoram', 'Chhattisgarh', 'Chandigarh',
    'Dadra & Nagar Haveli', 'Daman & Diu', 'Delhi', 'Goa', 'Gujarat',
    'Haryana', 'Jharkhand', 'Madhya Pradesh', 'Karnataka', 'Manipur',
    'Kerala', 'Lakshadweep', 'Maharashtra', 'Odisha', 'Puducherry',
    'Punjab', 'Rajasthan', 'Tripura', 'Telangana', 'Tamil Nadu', 'Uttarakhand'
]

def calculate_forecast(selected_state, selected_year, selected_variable):
    # Subset the data for the selected state and variable
    state_data = df[df['State'] == selected_state].groupby('YearCode')[selected_variable].sum()

    # Train the ARIMA model for the selected state and variable
    model = ARIMA(state_data, order=(1, 1, 1))  # ARIMA with (p, d, q) = (1, 1, 1)
    arima_results = model.fit()

    # Forecast the variable for the selected year
    forecast_steps = selected_year - max(state_data.index)
    forecast = arima_results.forecast(steps=forecast_steps)
    forecasted_values = [round(value) for value in forecast]

    return forecasted_values

def plot_forecast_results(actual_data, forecasted_values, selected_state, selected_year, selected_variable, frame):
    # Create a new figure
    fig = plt.Figure(figsize=(6, 4))
    ax = fig.add_subplot(111)

    # Plot actual data
    ax.plot(actual_data.index, actual_data.values, marker='o', linestyle='-', color='blue', label=f'Actual {selected_variable}')

    # Plot forecasted data
    forecast_years = list(range(max(actual_data.index) + 1, selected_year + 1))
    ax.plot(forecast_years, forecasted_values, marker='x', linestyle='-', color='red', label=f'Forecasted {selected_variable}')

    ax.set_title(f'{selected_variable.capitalize()} Forecast for {selected_state} in {selected_year} (ARIMA)')
    ax.set_xlabel('Year')
    ax.set_ylabel(f'{selected_variable.capitalize()}')
    ax.grid(True)
    ax.legend()

    # Create canvas to display the plot
    canvas = FigureCanvasTkAgg(fig, master=frame)
    canvas.draw()
    canvas.get_tk_widget().pack()

# Create the main window
root = tk.Tk()
root.title("Maternal Deaths and Infant Deaths Forecaster") 

# Increase the size of the window
root.geometry("800x600")

# Create a frame to contain the plot
frame = tk.Frame(root)
frame.pack()

def on_button_click():
    # Clear previous plot
    for widget in frame.winfo_children():
        widget.destroy()

    selected_state = state_var.get()
    selected_year = int(year_var.get())
    selected_variable = variable_var.get()

    # Calculate and plot forecast for the selected state, year, and variable
    actual_data = df[df['State'] == selected_state].groupby('YearCode')[selected_variable].sum()
    forecasted_values = calculate_forecast(selected_state, selected_year, selected_variable)
    plot_forecast_results(actual_data, forecasted_values, selected_state, selected_year, selected_variable, frame)

# State selection
state_label = tk.Label(root, text="Select a State:")
state_label.pack()
state_var = tk.StringVar()
state_dropdown = ttk.Combobox(root, textvariable=state_var, values=specific_states)
state_dropdown.pack()

# Year selection
year_label = tk.Label(root, text="Select a Year:")
year_label.pack()
year_var = tk.StringVar()
year_dropdown = ttk.Combobox(root, textvariable=year_var, values=['2020', '2021'])
year_dropdown.pack()

# Variable selection (Maternal Deaths or Infant Deaths Reported)
variable_label = tk.Label(root, text="Select a Variable:")
variable_label.pack()
variable_var = tk.StringVar()
variable_dropdown = ttk.Combobox(root, textvariable=variable_var, values=['Maternal_Deaths', 'Infant deaths reported'])
variable_dropdown.pack()

# Button to plot forecast
plot_button = tk.Button(root, text="Plot Forecast", command=on_button_click)
plot_button.pack()

# Run the Tkinter event loop
root.mainloop()